<app-navbar></app-navbar>

<div class="row">
  <div id="global" class="col s12 m12 l12">
    <br />
    <h6 id="cardPanel">
      MES CLASSES INSCRITES <i class="material-icons">group</i></h6>
    <table id="table" style="margin-left: auto" class="highlight">
      <thead class="head-row">
        <tr>
          <th>Nom de la classe</th>
          <th>Université</th>
          <th>Nombre d'étudiants</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="sort-data-set " *ngFor="let item of myclasses">
        <tr class="single-hover-row">
          <td data-label="Nom de la classe : ">{{item.title}}</td>
          <td data-label="Université : ">{{item.university}}</td>
          <td data-label="Nombre d'étudiant : ">{{item.arrayOfStudents.length}} incrit(s)</td>
          <td id="button"><a class="waves-effect waves-light btn" [routerLink]="[ '/exam-list-student' ]">Voir Liste Examen</a></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>



<!--
  <footer class="page-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Site developpé dans le cadre d'un projet universitaire</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Developpers</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Tony Vo</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Ghassen Belkhir</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Kevin Low Pen</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Junior Mabika</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  -->