<div class="panel panel-default">

  <div class="row">
    <div class="container">
      <div class="col s12 m12 l6">
        <br>
        <div id="loginCard">
          <div class="card">
            <div class="sm-jumbotron1 center-align">
              <h4>Authentification <i class="small material-icons">lock</i></h4>
            </div>
            <form class="col s12 white" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" [pattern]="emailRegex"
                    required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                  <div *ngIf="signInForm.submitted && email.errors?.pattern">
                    <label id="validation-mess" class="validation-message">Adresse Email invalide.</label>
                  </div>
                  <label><i class="tiny material-icons">email</i> Email/Identifiant</label>
                  <!-- <label datar-eror="Required Field!">User Name</label> -->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" required
                    minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                  <div *ngIf="signInForm.submitted && password.errors?.minlength">
                    <label id="validation-mess" class="validation-message">Minimum de 4 caractères.</label>
                  </div>
                  <label><i class="tiny material-icons">lock_outline</i> Mot de passe</label>
                  <!--<label [attr.data-error] ="Password.errors != null?(Password.errors.required? 'Required Field':'Minimum 3 Characters Needed'):''">Password</label> -->
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="submit" value="Se connecter" class="btn">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <a href="http://localhost:4200/">Mot de passe oublié</a>
                </div>
              </div>
            </form>

            <div class="alert" *ngIf="serverErrorMessages">
              {{serverErrorMessages}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-sign-up></app-sign-up>

  </div>