<app-navbar></app-navbar>
<div class="row">
  <div id="global" class="col s12 m12 l12">
    <br />
    <h6 id="cardPanel">
      MES SONDAGES CREES <i class="material-icons">school</i></h6>
    <table id="table" style="margin-left: auto" class="highlight">
      <thead class="head-row">
        <tr>
          <th>Question du sondage</th>
          <th>Date</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="sort-data-set" *ngFor="let item of myPolls">
        <tr class="single-hover-row">
          <td data-label="Nom du sondage : ">{{item.question}}</td>
          <td data-label="Date : ">{{item.dateCreation| date :'fullDate' : undefined : 'fr'}}</td>
          <td data-label="Description : ">{{item.description}}</td>
          <td id="button"><a class="btn modal-trigger" href="#list-of-poll" (click)="onSelectPoll(item)" style="margin-top:2px; margin-bottom:5px"
              >Voir</a>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- modal -->
<div class="modal" id="list-of-poll">
  <div class="modal-content">
    <h4 class="center-align">{{modalPoll.question}}</h4>
  </div>
  <p class="center-align"><i>Crée le {{modalPoll.dateCreation | date: 'fullDate': undefined : 'fr'}}</i></p>
  <p class="center-align">Assigné à la classe <b>{{modalPoll.class.title}}</b></p>
  <br>
  
  <ul class="collection">
    <li class="collection-item" *ngFor="let item of modalPoll.option; let i = index">
      <p><b>Option {{i+1}}: </b>{{item.proposition}}
          <span class="new badge orange" data-badge-caption="votes">{{item.vote}} </span>
      </p>
      
       
    </li>
 
  </ul>
     
  <table class="hide-on-med-and-down">
      <thead>
    <tr>
      </tr>
    </thead>
      <tbody>
        <td>
    <canvas id="pie"></canvas>
    </td>
  </tbody>
    </table> 
  <br>
  <div class="center-align">
    <button class="modal-action modal-close btn blue">Fermer</button>
  </div>
  <br>
</div>
<!-- end modal -->