<footer class="page-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Projet Long</h5>
          <p class="grey-text text-lighten-4">Site developpé dans le cadre d'un projet universitaire</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Développeurs</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Tony Vo</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Ghassen Belkhir</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Kevin Low Pein</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Junior Mabika</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © Quizmaker 2018-2019
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
 