<app-navbar></app-navbar>
<div class="row">
  <div id="global" class="col s12 m12 l12">
    <br />
    <h6 id="cardPanel">
      Mes questionnaires crées <i class="material-icons">group</i></h6>
    <table id="table" style="margin-left: auto" class="highlight">
      <thead class="head-row">
        <tr>
          <th>titre </th>
          <th>Date</th>
          <th>description</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="sort-data-set" *ngFor="let item of myQuizes">
        <tr class="single-hover-row">
          <td data-label="titre: ">{{item.title}}</td>
          <td data-label="Date : ">{{item.dateCreation | date :'fullDate' : undefined : 'fr'}}</td>
          <td data-label="description : ">{{item.description}}</td>
          <td id="button"><a class="waves-effect btn prange"(click)="showExam(item)" class="waves-effect btn blue">Consulter</a> &nbsp;
        </td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>